name: Integration Test

on:
  pull_request:
    types: [ready_for_review]
    branches:
    - main

jobs:
  docker:
    timeout-minutes: 30
    runs-on: ubuntu-latest

    steps:
    - name: Checkout
      uses: actions/checkout@v5
    
    - name: Set up Docker Compose
      uses: docker/setup-compose-action@v1
      with:
        version: latest

    - name: Start Flight Blender and dependencies
      run: docker compose --env-file .env.tests -f docker-compose.fb.yml up -d
      working-directory: ./tests

    - name: Install uv
      uses: astral-sh/setup-uv@v6

    - name: Install Verification framework and all dependencies
      run: uv sync --locked --all-extras --dev

    - name: Run tests
      run: uv run openutm-verify --debug --config config/default.yaml
    
    - uses: actions/upload-artifact@v4
      if: always()
      with:
        name: test-reports
        path: reports/

    - name: Stop containers
      if: always()
      run: docker compose --env-file .env.tests -f docker-compose.fb.yml down
      working-directory: ./tests
